/* Import Google Font...Top Right = Selected Family - > @import */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --primary-color: #047aed; /* Custom Property in CSS */
  --secondary-color: #1c3fa8;
  --dark-color: #002240; 
  --light-color: #f4f4f4f4;

}

* {
  /* Universal Selector */
  box-sizing: border-box; /* Allows for padding and margin without having to change width */
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", "sans-serif";
  color: #333;
  line-height: 1.6; /* Spacing lines apart */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none; /* Gets rid of the underlines* */
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0; /* Top and Bottom = 10px // Left and Right = 0px */
}

p {
  margin: 10px 0;
}

img {
  width: 100%; /* Will take 100% of that container */
}

/* Nav Bar Styling */

.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px; /* Top and Bottom */
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
}

.navbar .flex {
  justify-content: space-between;
}

/* Showcase */

.showcase {
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative; /* Chose relative because if we need anything absolute within it we can */
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 55% auto;
  gap: 30px;
}

.showcase-form {
  position: relative; /* Setting it to relative allows user to move top, bottom, left, right */
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100; /* Setting Z-Index to 100 makes it ALWAYS in front */
  justify-self: flex-end; /* Pushes the form to the right */
}

.showcase-form .form-control {
  margin: 30px 0;
}

.showcase-form input[type="text"],
.showcase-form input[type="email"] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%; /* Setting it to 100% makes it go all the way across the card */
  padding: 3px;
  font-size: 16px;
}

.showcase-form input:focus {
  /* Takes away border from the inputs */
  outline: none;
}

.showcase::before, /* Using before and after to implement the skew of showcase. Must put content */ 
.showcase::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg); /* Chrome and Safari */
  -moz-transform: skewY(-3deg); /* Mozilla */
  -ms-transform: skewY(-3deg); /* Microsoft */
}

/* Stats */

.stats {
  padding-top: 100px;
}

.container > .stats-heading {
  max-width: 500px;
  margin: auto;
}

.stats .grid h3 {
  font-size: 35px;
}

.stats .grid p {
  font-size: 20px;
  font-weight: bold;
}

/* CLI */

.cli .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child { 
  /*  Directly targets first child after .grid  */
  grid-column: 1 / span 2;
  grid-row: 1 / span 2; /* This allows it to SPAN to colums */ 
}


/* Cloud */ 

.cloud .grid {
  grid-template-columns: 4fr 3fr;
}


/* Languages */ 

.languages .flex {
  flex-wrap: wrap; /* Allows the logos to go to the next line if browser is resized */ 
}
.languages .card {
text-align: center;
margin: 18px 10px 40px;
transition: transform 0.2s ease-in; 
}

.languages .card h4 {
  font-size: 12px;
  margin-bottom: 10px;
}

.languages .card:hover {
  transform: translateY(-15px); /* Translates on the Y Axis. Negative makes it pop out */ 
  
}

/* Footer */ 
.footer .social a {
  margin: 0 10px;
}